@import "../config/globals";

.todos-actions_bar {
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.todos-actions_bar-counter {
  box-sizing: border-box;
  border: 0;
  background: none;
  resize: none;
  color: $c-gray;
  outline: none;
  margin: $offset_low_4x;
  float: left;
}

.todos-actions_bar-clear {
  border: 0;
  background: none;
  resize: none;
  color: $c-gray;
  margin: $offset_low_4x;
  padding:0;
  outline: none;
  float: right;
  cursor: pointer;
}

.todos-actions_bar-filter:focus {
  border: 2px solid $color-focus;
}

.todos-actions_bar-filters {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.todos-actions_bar-filter {
  outline: none;
  color: $c-gray;
  background: none;
  border: 2px solid $c-white;
  margin: $offset_low_4x;
  padding: 0;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}