@import "../config/globals";

.todos-add {
  border-bottom: 1px groove $color-border;
  @include clearfix();
}

    .todos-add-select_all {
      width: $button_side;
      height: $button_side;
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      float: left;
      position: relative;
      outline: none;
      cursor: pointer;
    }

      .todos-add-select_all:focus {
        background: $c-white-light;
      }

        .todos-add-select_all-icon {
          width: 24px;
          height: 12px;
          left: 20px;
          bottom: 26px;
          background: url('../../images/icons/select-all.png') no-repeat 0 0;
          position: absolute;
        }

    .todos-add-item-w {
      overflow: hidden;
    }

        .todos-add-item {
          width: 100%;
          box-sizing: border-box;
          border: 0;
          background: none;
          color: $c-gray-dark;
          font-size: $fs_large;
          padding-right: $offset_low_4x;
          margin-top: $margin_normal;
          outline: none;
        }

          .todos-add-item::placeholder {
            color: $c-gray-light;
            font-style: italic;
          }
